/.gitconfig

/.*_history
/.CFUserTextEncoding
/.Trash
/.account
/.ammonite
/.atom/
/.autoenvtoken
/.babel.json
/.bash*
/.bigqueryrc
/.boto
/.bundler
/.burklee
/.cabal
/.cache
/.cargo
/.config/clojure/
/.config/configstore
/.config/ensime-vim
/.config/fish/fish*
/.config/fish/functions/burk.fish
/.config/fish/functions/campaign-status.spotify.fish
/.config/fish/functions/export.fish
/.config/fish/functions/jenv.fish
/.config/fish/functions/java-env.fish
/.config/fish/functions/set-google-credentials.fish
/.config/gcloud/
/.config/gcp-auth/
/.config/git
/.config/htop
/.config/mdp
/.config/nvim
/.config/pgcli/
/.cookiecutter_replay/
/.coursier/
/.credentials/
/.cshrc
/.cups
/.docker/
/.esets/
/.fireglass
/.gdbinit
/.gem
/.ghc
/.gitignore-global
/.gnupg
/.gradle/
/.grip
/.gsutil/
/.httpie/
/.idea-build/
/.ideavimrc
/.irbrc
/.ivy2
/.jenv/
/.lein/repl-history
/.lesshst
/.local
/.m2
/.maestrotoken
/.mavenrc
/.mkshrc
/.mongorc.js
/.multirust
/.node-gyp
/.npm
/.npmrc
/.oracle_jre_usage
/.passwords
/.pip
/.pnctoken
/.profile
/.rustup/
/.rvm /.sandbox
/.sbt
/.slocdata
/.ssh
/.stack
/.subversion
/.testcontainers.properties
/.v8flags*
/.vim/.netrwhist
/.vim/.viminfo
/.vim/backup/*
/.vim/plugged/*
/.vim/spell/*
/.vim/tags
/.virtualenvs/
/.yarnrc
/.yjp
/.zlogin
/.zshrc

/go
/keys

/Applications
/Books
/Clippings
/Desktop
/Documents
/Downloads
/Idea
/Library/*
/Movies
/Music
/Notes
/Onboarding
/Organize
/Other
/Personal
/Pictures
/Projects
/Public
/Reading
/Repos
/Resources
/Scripts
/Sketches
/Talks
/Text
/Work

!/.vim/backup/.gitkeep
!/.vim/plugged/.gitkeep
!/.vim/spell/.gitkeep

*\.private\.*
