/.*_history
/.CFUserTextEncoding
/.Trash
/.account
/.atom/
/.autoenvtoken
/.babel.json
/.bash*
/.bundler
/.cabal
/.cache
/.config/configstore
/.config/ensime-vim
/.config/fish/fishd*
/.config/git
/.config/mdp
/.config/nvim
/.cups
/.fireglass
/.gdbinit
/.gem
/.ghc
/.gnupg
/.idea-build/
/.ideavimrc
/.irbrc
/.ivy2
/.lein/repl-history
/.lesshst
/.local
/.m2
/.maestrotoken
/.mkshrc
/.mongorc.js
/.node-gyp
/.npm
/.npmrc
/.oracle_jre_usage
/.passwords
/.profile
/.rvm /.sandbox
/.sbt
/.slocdata
/.ssh
/.stack
/.subversion
/.v8flags*
/.vim/.netrwhist
/.vim/.viminfo
/.vim/backup/*
/.vim/plugged/*
/.vim/spell/*
/.vim/tags
/.yjp
/.zlogin
/.zshrc
/Applications
/Books
/Clippings
/Desktop
/Documents
/Downloads
/Library/*
/Movies
/Music
/Notes
/Onboarding
/Organize
/Personal
/Pictures
/Projects
/Public
/Reading
/Repos
/Resources
/Talks
/Sketches
/Text
/Work

!/.vim/backup/.gitkeep
!/.vim/plugged/.gitkeep
!/.vim/spell/.gitkeep

*\.private\.*
