
# Unwanted dotfiles

/.bash_history
/.bundler
/.cache
/.CFUserTextEncoding
/.gem
/.ghc
/.lesshst
/.local
/.node-gyp
/.npm
/.ssh
/.Trash

# (Later additions to sort)

.bash_profile
.bashrc
.cups/
.gnupg/
.irb_history
.irbrc
.mkshrc
.mysql_history
.profile
.psql_history
.rvm/
.sandbox/
.sqlite_history
.subversion/
.zlogin
.zshrc

# From ~/.cabal, keep only config file

.cabal/*
!/.cabal/config

# Unwanted config files

/.config/configstore
/.config/fish/fish*
/.config/fish/gen*
/.config/git

# (May want to track later)

/.config/mdp

# Vim folders to keep

!/.vim/backup/.gitkeep
!/.vim/plugged/.gitkeep
!/.vim/spell/.gitkeep

# Unwated vim files

/.vim/.netrwhist
/.vim/.viminfo
/.vim/backup/*
/.vim/plugged/*
/.vim/spell/*
/.vim/tags

# User data

/Clippings
/Desktop
/Documents
/Downloads
/Library/*
/Movies
/Music
/Pictures
/Projects
/Public
/Reading
/Sketches
/Text
/Work

# Binaries and scripts

/bin

